# Backports packages alias one another, this is not yet fixed
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.5.0.1
# Test support for referencing wheels via fixed URLs
#https://files.pythonhosted.org/packages/37/ff/97d4542f805ae25bf4b65b6263515584c78bd9a6111ed78ea971eff2946a/tensorflow-1.9.0-cp27-cp27mu-manylinux1_x86_64.whl
# Need to freeze to an older numpy for some reason, otherwise we get these from various modules:
#   RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
#numpy==1.14.0

absl-py==0.7.0
jsonnet==0.11.2
SQLAlchemy==1.1.15
PyHive==0.6.1
networkx==2.2
horovod==0.13.11

tensorflow
#torch

wrapt==1.11.1
